:root {
    --brown: #5C4B51;
    --green: #8CBEB2;
    --beige: #8CBEB2;
    --yellow: #F3B562;
    --red: #F06060;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

header {
    background-color: var(--red);
    width: 100vw;
    border-bottom: 2px solid black;
}

h1 {
    text-align: center;
}

#header-link {
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px black;
}

#header-link:hover {
    text-shadow: 0 0 10px white;
}