.button {
  background-color: var(--bg-button);
  border: 2px solid var(--bg-dark);
  border-radius: 5px;
  color: var(--color-dark);
}

.button:hover {
  background-color: var(--highlight-color);
}

.button__big {
  width: 50%;
  height: 20%;
}

.button__small {
  width: 100px;
  height: 35px;
  font-size: 1.2em;
}

.button__link {
  color: var(--color-dark);
}
