.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  color: var(--color-dark);
}

.form__body {
  width: 300px;
  background-color: var(--bg-card);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  transition: transform 0.25s ease-out;
}

.form__body-description {
  font-size: 1.2rem;
  padding: 1rem;
  font-weight: bold;
}

.form__body-fields {
  border: none;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.form__body-textarea {
  border-radius: 5px;
  background-color: var(--bg-answer);
  border: 2px solid var(--bg-dark);
}

.form__body-textarea:focus {
  outline: 3px dashed var(--highlight-color);
  border-radius: 5px;
  border-color: transparent;
}

.form__body-textarea-counter {
  color: var(--bg-button);
  margin-bottom: 1rem;
  margin-right: 1rem;
  align-self: flex-end;
  height: 1rem;
}

.form__body-input {
  border-radius: 5px;
  margin-bottom: 1rem;
  background-color: var(--bg-answer);
  border: 2px solid var(--bg-dark);
  width: 90%;
}

.form__body-input:focus {
  outline: 3px dashed var(--highlight-color);
  border-radius: 5px;
  border-color: transparent;
}

.form__body-submit {
  width: 100%;
}
